:root {
    --main: #6C71DB;
    --foreground: #F5F5F5;
    --light-main: #8E86A1;
    --border-dull: #6F638B;
    --dark: #2B2732;
    --border: #595DB3;
}


.pattern-container {
  --bulb-width: 100px;
  --bulb-height: 100px;

  --h-gap: 150px;
  --v-gap: 40px;

  --bg-color: #6C71DB;

  --img-r-gap: 70px;

  background-color: var(--bg-color);
  position: relative;
  z-index: 1;

  --cell-width: calc(var(--bulb-width) + var(--h-gap));
  --cell-height: calc(var(--bulb-height) + var(--v-gap));

  background-image: url('../images/lamp.svg');
  background-repeat: repeat;
  background-size: var(--cell-width) var(--cell-height);
  background-position: var(--img-r-gap) 0;
}

.pattern-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: url('../images/lamp.svg');
  background-repeat: repeat;
  background-size: var(--cell-width) var(--cell-height);
  background-position: calc(var(--cell-width) / 2 + var(--img-r-gap)) calc(var(--cell-height) / 2);
}

body {
    display: flex;
    color: var(--dark);
    font-family: "Heebo", sans-serif;
    background: var(--foreground);
    height: 100vh;
    width: 100%;
    margin: 0;

}


.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.info-box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: var(--foreground);
    border-radius: 3px;
    height: 70%;
    width: 45%;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    margin-top: 10%;
    margin-bottom: 0;
}

.info-text {
    font-size: 40px;
    margin-left: 5%;

}

.email-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;

}
.email-info p{
    width: 70%;
}

.helptext{
    color: var(--main);
}







