{% extends "_base.html" %}
{% load static %}
{% block head-content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/LoginRegister.css' %}">
{% endblock %}
{% block content %}
  <h2>Sign up</h2>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign up</button>
  </form>
{% endblock %}

{% block bottom-content %}
    <p>Already have an account?<a href="../login"> Log in now! </a>
    </p>
{% endblock %}